.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  background: black;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  height: 100px;
  width: 100px;
  animation: spin 2s linear infinite;
  border: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}